Environment=PATH=/var/www/singkana/venv/bin SINGKANA_FEEDBACK_WEBHOOK=https://discord.com/api/webhooks/1447925198421627022/HbwVuPBDnIxLlTBIdTJ-AIX_si8foFdnGUH0ZOi_67d8LDxLTSr2Ix_2AmjamEifcwUK
